/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding: 2em 0em 2em 0em;
    margin: 0 auto;
    max-width: 800px;
    width: 800px;
    height: 600px;
    text-align: center;
    background-color: #fafafa;
}

#layout .pure-form {
    text-align: center;
    padding: 2em;
}

#layout .pure-form input {
    margin: 0 auto;
    float: left;
    width: 75%;
}

#layout .pure-form textarea {
    width: 100%;
}

#layout #content-left {
    float: left;
    width: 250px;
    border-right: 1px solid #ccc;
    padding: 1em;
    height: 100%;
    text-align: center;
}

#layout #content-right {
    margin: 0 auto;
    float: left;
    padding: 1em 0.5em 1em 0.5em;
    height: 100%;
    width: 550px;
    text-align: left;
}

#layout #content-right button {
    float: right;
    margin-right: 2em;
}